services:
  app:
    build: .
    image: ${APP_IMAGE_NAME}
    container_name: ${CONTAINER_NAME_APP}
    restart: unless-stopped
    ports:
      - "${APP_PORT_HOST}:${SERVER_PORT}"
    environment:
      SERVER_PORT: ${SERVER_PORT}
      TZ: ${TZ}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_DATA_REDIS_HOST: ${SPRING_DATA_REDIS_HOST}
      SPRING_DATA_REDIS_PORT: ${SPRING_DATA_REDIS_PORT}
      SPRING_DATA_REDIS_PASSWORD: ${SPRING_DATA_REDIS_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      JWT_ACCESS_EXPIRATION_MS: ${JWT_ACCESS_EXPIRATION_MS}
      JWT_REFRESH_EXPIRATION_MS: ${JWT_REFRESH_EXPIRATION_MS}
      CORS_ALLOWED_ORIGINS: ${CORS_ALLOWED_ORIGINS}
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - bookstore-network

  db:
    image: mysql:${MYSQL_IMAGE_TAG}
    container_name: ${CONTAINER_NAME_DB}
    restart: unless-stopped
    ports:
      - "${DB_PORT_HOST}"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: ${TZ}
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - bookstore-network

  redis:
    image: redis:${REDIS_IMAGE_TAG}
    container_name: ${CONTAINER_NAME_REDIS}
    restart: unless-stopped
    command: redis-server --requirepass ${SPRING_DATA_REDIS_PASSWORD}
    ports:
      - "${REDIS_PORT_HOST}"
    networks:
      - bookstore-network

networks:
  bookstore-network:
    driver: bridge

volumes:
  db_data:
